langchain>=0.3,<0.4
packaging<25
python-dotenv
ipykernel
langchain_community
pypdf
bs4
arxiv
langchain-text-splitters
python-dotenv
langchain-openai
langchain_core
beautifulsoup4
faiss-cpu
langchain-groq
fastapi
uvicorn
langserve
sse_starlette
langchain_chroma